.Rproj.user
.Rhistory
.RData
.Ruserdata
.cache
.claude
.DS_Store
*.gz
automerge.Rcheck/
src/Makevars
compile_commands.json
automerge-build
automerge-install
/.quarto/
**/*.quarto_ipynb
docs
inst/doc
/doc/
/Meta/
